/* Organisation en deux colonnes avec une séparation */
.footer-menu {
    display: flex;
    align-items: center;
    justify-content: center; /* Centre le menu horizontalement */
    gap: 30px;
    width: 100%; /* S'assure que l'élément occupe toute la largeur */
}

/* Colonnes des liens */
.menu-column {
    display: flex;
    flex-direction: column;
    gap: 8px; /* Espacement vertical entre les liens */
    text-align: center; /* Centre le texte dans chaque colonne */
}

/* Barre verticale de séparation */
.menu-divider {
    width: 1px;
    height: 80px;
    background-color: #FFAB31;
    align-self: center; /* Centre la barre de séparation */
}
