<header class="header">
    <div class="container">
        <nav class="nav">
            <a href="/rephive-v2/index.html" class="logo">
                <img src="/rephive-v2/img/RepHive-Logo.png" alt="RepHive Logo">
            </a>
            <ul class="nav-links">
                <li><a href="/rephive-v2/index.html">Home</a></li>
                <li><a href="/rephive-v2/pages/solutions.html">Our Solutions</a></li>
                <li><a href="/rephive-v2/pages/why-us.html">Why Us?</a></li>
                <li><a href="/rephive-v2/pages/pricing.html">Pricing</a></li>
                <li><a href="/rephive-v2/pages/faq.html">FAQ</a></li>
            </ul>
            <a href="/rephive-v2/pages/contact.html" class="btn-primary">Contact Us</a>
        </nav>
    </div>
</header>
