<header class="header">
    <div class="container">
        <nav class="nav">
            <a href="https://ckartner514.github.io/rephive-site/index.html" class="logo">
                <img src="https://ckartner514.github.io/rephive-site/img/RepHive-Logo.png" alt="RepHive Logo">
            </a>
            <ul class="nav-links" id="navLinks">
                <li><a href="https://ckartner514.github.io/rephive-site/index.html" target="_self">Home</a></li>
                <li><a href="https://ckartner514.github.io/rephive-site/pages/solutions.html" target="_self">Our Solutions</a></li>
                <li><a href="https://ckartner514.github.io/rephive-site/pages/why-us.html" target="_self">Why Us?</a></li>
                <li><a href="https://ckartner514.github.io/rephive-site/pages/pricing.html" target="_self">Pricing</a></li>
                <li><a href="https://ckartner514.github.io/rephive-site/pages/faq.html" target="_self">FAQ</a></li>
                <!-- Lien Contact pour mobile dans le menu hamburger -->
                <li class="mobile-only"><a href="https://ckartner514.github.io/rephive-site/pages/contact.html" target="_self">Contact Us</a></li>
            </ul>
            <!-- Bouton CTA "Contact Us" visible sur desktop uniquement -->
            <a href="https://ckartner514.github.io/rephive-site/pages/contact.html" class="btn-primary desktop-only" target="_self">Contact Us</a>
        </nav>
    </div>
</header>
